{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3 Bar Chart</title>
</head> --}}
<body>
    <h2> D3 Bar Chart view amount</h2>
    <svg class="bar-chart"></svg>
    <div class="six columns">
              <label for="linea">Hora: <span class="hora-val">10</span>&nbsp;</label>
              <input id="hora" type="range" min="5" max="23" step="0.25">
        
          </div>
    <svg width="51.213mm" height="24.749mm" version="1.1" viewBox="0 0 51.213 24.749" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-25.608 -133.05)">
            <rect x="25.608" y="133.05" width="30" height="5" ry="0" fill="#ffd5d5"/>
            <rect transform="rotate(45)" x="133.4" y="54.759" width="30" height="5" ry="0" fill="#f00"/>
        </g>
    </svg>
<svg width="230.94mm" height="115.06mm" version="1.1" viewBox="0 0 230.94 115.06" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-4.8162 -101.44)">
  <path d="m5.0072 187.99 28.327 28.327 81.26-81.26h121.03v-33.477h-136.77z" fill="#f00" stroke="#000" stroke-width=".26458px"/>
 </g>
</svg>
<svg width="230.94mm" height="115.06mm" version="1.1" viewBox="0 0 230.94 115.06" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-4.8162 -101.44)">
  <path id="HOLA" d="m5.0072 187.99 28.327 28.327 81.26-81.26h121.03v-33.477h-136.77z" fill="#f00" stroke="#000" stroke-width=".26458px"/>
 </g>
</svg>
</body>
<script type="module" src="./assets/js/index2.js"></script>
{{!-- </html> --}}


