<?xml version="1.0" encoding="UTF-8"?>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<div class="header">
    <h1>OCUPACIÓN Y FLUJO DE USUARIOS</h1>
    Datos del 11-05-2022. Ocupación en pasajeros parados por m2. Flujo en pasajeros totales por hora
</div>
<div class="wrapper">

    <div><svg id='mapa' {{!-- width="132.29mm" height="127.59mm" --}} version="1.1" viewBox="0 0 132.29 127.59" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-50.26 -132.64)">
    <g transform="matrix(.26458 0 0 .26458 21.254 95.365)">
    <g fill="none">
        <path id="LineaE" d="m241.66 593.86 2.5681-5.888 3.9712-4.2123 9.436-7.6285 6.619-7.1084 6.3511-5.7014 5.8153-2.8873 6.25-1.0383 7.3012 0.63637 7.9203-0.50573 9.6953-5.956 9.436-7.6285 1.6892-6.2424 1.5968-4.6589 8.2057-8.1598 5.9917-3.0628 17.692-2.5021 29.842-5.1956 35.036-6.061 33.539-5.6252 16.02-2.1548 30.102-3.5231 22.444-2.5767 23.85-1.7809 7.4811-0.77092 0.79681-1.7575 0.0427-15.222 0.4671-9.6968 21.079-17.695 13.412-13.688 6.0488-7.726 7.1786-2.7075 3.0862-2.367 0.90181-7.8284-1.8766-21.122-0.94073-9.6813-4.3675-11.363-6.475-12.864" stroke="#333" stroke-width="4.1575"/>
        <path id="LineaC" d="m559.59 520.84 0.19669-7.3904 3.556-13.012 0.36821-5.8061 0.58364-19.884-0.138-13.55-2.0752-13.028-1.534-17.778 0.0261-9.3266 2.1225-3.8655 9.3424-5.605 0.18436-2.9911-0.84585-12.145-0.28341-24.461 3.0054-4.9189 7.9514-11.592" stroke="#333" stroke-width="4.1575"/>
        <path id="Los__Incas-Echeverr__a" d="m164.24 285.48 8.6027 6.4998 12.235 3.1543 9.1751 9.0822" stroke="#CBBAED" stroke-width="4.5354"/>
        <g stroke="#333" stroke-width="4.1575">
        <path id="LineaB" d="m143.51 263.44 24.088 18.926 6.7233 5.6738 13.249 4.0426 9.086 8.8272 31.352 12.044 11.088 4.2058 15.217 2.8599 15.589 6.7622 15.266 7.2009 14.72 16.25 29.823 33.264 8.048 4.9976 17.569 6.6639 12.426 3.0587 34.984 4.0146 20.115 3.2588 16.59 0.94699h9.9409l15.102 2.6764 24.852 0.38235 26.634-1.325 22.879-1.5426 19.026-1.4691 25.019-1.8864 19.278-1.146"/>
        <path id="LineaD" d="m240.31 176.59 23.301 32.916 8.5534 11.596 8.8162 6.6197 30.932 18.627 37.885 23.997 32.439 13.405 7.3286 4.6246 13.16 10.738 20.109 17.601 15.766 13.359 18.988 17.847 17.371 17.718 5.1815 15.942 4.4694 3.6211 8.3345 0.89439 24.015 0.19172 19.037 0.3022 10.3 9.8591 17.385 12.616 19.749 12.872"/>
        <path id="LineaH" d="m434.31 588.23 6.5694-14.383 4.2846-4.9093 2.7176-0.98045 5.9222 3.2327 2.8365 2e-3 5.0094-0.23258 16.398-3.4841 9.0438-2.9218 1.5234-3.9875 0.70359-3.9214-7.7164-28.384-3.0826-20.41-3.7373-18.158-7.3286-29.673-5.1407-22.98-0.48765-11.778-0.0838-4.2342 5.1425-22.195 3.171-14.398 8.0324-27.039 6.4483-20.107 8.3748-7.9998 8.2115-5.4267 11.652-8.035 9.8351-8.8032"/>
        </g>
    </g>
    <g id="Grupo_1_1_" transform="translate(2137.5 1170.2)"></g>
    <g fill="none">
        <g stroke-width="4.5354">
        <path id="Bol__var-Correo__Central" d="m583.28 432.79 6.0721-7.7961 7.2108-2.6305 2.3609-1.3745 0.73067-6.5967-1.9891-20.608" stroke="#CBBAED"/>
        <path id="Once-Corrientes" d="m457.22 424.78 3e-3 -2.7036 5.4387-25.272" stroke="#CBBAED"/>
        <path id="Corrientes-Once" d="m465.81 424.91 0.38809-4.9015 4.5736-21.354" stroke="#CBBAED"/>
        </g>
        <path d="m434.84 588.39 4.7937-12.979 4.4586-5.8144 3.7169-1.2857 6.6248 2.5658 7.57 0.0646 16.828-3.5889 7.9068-2.9095 2.229-3.7183-2e-3 -4.1905-7.7164-28.384-3.2528-21.56-3.9954-19.396-6.6346-27.371-4.8755-22.978-1.0185-11.693 0.26875-4.0555 4.79-22.374 3.171-14.398 8.0324-27.039 7.1564-20.28 9.2567-7.6412 6.6215-5.6125 10.406-6.6279 11.081-10.21"/>
        <path d="m143.09 263.42 24.088 18.926 8.0292 5.9263 13 3.4411 8.0292 9.1762 31.352 12.044 11.088 4.2058 14.72 2.4852 17.205 7.2645 14.147 7.0733 14.72 16.25 29.823 33.264 11.279 6.4998 14.338 5.1616 12.426 3.0587 34.984 4.0146 21.793 3.8234 14.911 0.38234h9.9409l15.102 2.6764 24.852 0.38235 27.337-1.147 22.176-1.7205 23.514-1.7205 21.411-1.7205 18.926-1.147"/>
    </g>
    <path id="Echeverr__a-Juan__Manuel__de__Rosas" d="m140.71 266.33 23.693 19.262" fill="#f00" stroke="#CBBAED" stroke-width="4.5354"/>
    <path id="Juan__Manuel__de__Rosas-Echeverr__a" d="m146.28 259.97 23.693 19.262" fill="#f00" stroke="#CBBAED" stroke-width="4.5354"/>
    <circle cx="143.09" cy="263.23" r="3.893" fill="#333"/>
    <circle cx="133.55" cy="251.04" r="6.3816" fill="#f00"/>
    <g stroke-width="4.5354">
        <path id="Echeverr__a-Los__Incas" d="m168.98 278.62 7.7429 6.1164 12.235 3.1543 9.1751 9.0822" fill="none" stroke="#CBBAED"/>
        <path id="Tronador-Los__Incas" d="m193.54 303.79 32.101 12.794" fill="#0f0" stroke="#CBBAED"/>
        <path id="Los__Incas-Tronador" d="m197.28 296.53 31.432 12.22" fill="#0f0" stroke="#CBBAED"/>
    </g>
    <g fill="none">
        <g stroke-width="4.5354">
        <path id="Federico__Lacroze-Tronador" d="m225.56 316.57 11.22 4.0559 15.545 3.1779 16.019 6.8254" stroke="#CBBAED"/>
        <path id="Tronador-Federico__Lacroze" d="m228.66 308.68 11.697 4.3432 15.545 3.1779 16.019 6.8254" stroke="#CBBAED"/>
        <path id="Dorrego-Federico__Lacroze" d="m268.19 330.6 14.802 7.0297 13.536 15.235" stroke="#CBBAED"/>
        <path id="Federico__Lacroze-Dorrego" d="m271.69 323.13 15.757 7.7 15.256 16.193" stroke="#CBBAED"/>
        <path id="Malabia-Dorrego" d="m296.44 352.8 30.773 34.069" stroke="#CBBAED"/>
        <path id="Dorrego-Malabia" d="m302.72 347.01 29.34 33.589" stroke="#CBBAED"/>
        <path id="Angel__Gallardo-Malabia" d="m326.67 386.44 8.5258 5.585 18.784 7.2062 12.388 2.6675" stroke="#CBBAED"/>
        <path id="Malabia-Angel__Gallardo" d="m331.21 380.09 5.4696 3.5739 19.357 7.4937 12.292 2.8586" stroke="#CBBAED"/>
        <path id="Medrano-Angel__Gallardo" d="m366.39 401.98 35.584 4.2754" stroke="#CBBAED"/>
        <path id="Angel__Gallardo-Medrano" d="m367.95 393.82 35.584 4.2754" stroke="#CBBAED"/>
        <path id="Carlos__Gardel-Medrano" d="m401.45 406.24 20.378 3.2574 17.182 1.005" stroke="#CBBAED"/>
        <path id="Medrano-Carlos__Gardel" d="m402.44 398.07 20.378 3.2574 17.182 1.005" stroke="#CBBAED"/>
        <path id="Pueyrred__n__B-Carlos__Gardel" d="m438.99 410.53 8.8931 0.0784 15.299 2.6837" stroke="#CBBAED"/>
        <path id="Carlos__Gardel-Pueyrred__n__B" d="m439.22 402.23 8.8931 0.0784 15.299 2.6837" stroke="#CBBAED"/>
        <path id="Pasteur-Pueyrred__n__B" d="m462.89 413.37 26.058 0.23094" stroke="#CBBAED"/>
        <path id="Pueyrred__n__B-Pasteur" d="m462.75 405.13 26.058 0.23094" stroke="#CBBAED"/>
        <path id="Callao__B-Pasteur" d="m489.01 413.6 27.441-1.2179" stroke="#CBBAED"/>
        <path id="Pasteur-Callao__B" d="m488.44 405.22 27.441-1.2179" stroke="#CBBAED"/>
        <path id="Uruguay-Callao__B" d="m516.45 412.32 22.237-1.553" stroke="#CBBAED"/>
        <path id="Callao__B-Uruguay" d="m515.8 403.89 22.237-1.553" stroke="#CBBAED"/>
        </g>
        <g stroke-width="2.2677">
        <path id="Carlos__Pellegrini-Uruguay" d="m538.62 410.7 19.871-1.556" stroke="#CBBAED"/>
        <path id="Uruguay-Carlos__Pellegrini" d="m537.82 402.39 19.871-1.556" stroke="#CBBAED"/>
        <path id="Diagonal__Norte-Lavalle" d="m568.6 410.27 0.19998-0.55006-0.336-2.9523-0.28423-2.5-0.37255-7.5241" stroke="#CBBAED"/>
        <path id="Lavalle-Diagonal__Norte" d="m573.22 414.08 3.0042-2.3186-0.11767-6.0863-0.3407-9.5969" stroke="#CBBAED"/>
        <path id="Florida-Carlos__Pellegrini" d="m558.22 409.14 25.549-2.0272" stroke="#CBBAED"/>
        <path id="Carlos__Pellegrini-Florida" d="m557.64 400.84 25.549-2.0272" stroke="#CBBAED"/>
        </g>
        <path id="Leandro__N.__Alem-Florida" d="m583.7 407.11 19.33-1.0804" stroke="#CBBAED" stroke-width="4.5354"/>
        <path id="Florida-Leandro__N.__Alem" d="m583.21 398.86 19.33-1.0804" stroke="#CBBAED" stroke-width="4.5354"/>
    </g>
    <g fill="#333">
        <circle cx="166.39" cy="281.59" r="3.9606"/>
        <circle cx="196.03" cy="300.23" r="3.9606"/>
        <circle cx="227.08" cy="313.08" r="3.9606"/>
        <circle cx="270.17" cy="326.71" r="3.9606"/>
        <circle cx="299.3" cy="350.26" r="3.9606"/>
        <circle cx="329.08" cy="383.56" r="3.9606"/>
        <circle cx="367.2" cy="398.04" r="3.9606"/>
    </g>
    <g fill="none">
        <g stroke-width="4.5354">
        <path id="Hospitales-Parque__Patricios" d="m430.99 585.77 6.0462-13.124 5.0104-7.023 5.9502-1.8851 6.4847 3.1172 6.7591-0.12672" stroke="#CBBAED"/>
        <path id="Parque__Patricios-Hospitales" d="m438.67 588.22 4.0342-9.303 2.5217-4.2541 2.7009-2.367 8.0138 3.3103 6.7597-0.60464" stroke="#CBBAED"/>
        <path id="Parque__Patricios-Caseros" d="m460.83 566.73 17.172-3.6283 6.2204-1.7495 1.2205-3.1076-0.13311-1.6223" stroke="#CBBAED"/>
        <path id="Caseros-Parque__Patricios" d="m462.53 575.03 17.363-3.6281 9.2812-3.3707 3.6157-7.5971 0.25401-5.4452" stroke="#CBBAED"/>
        <path id="Caseros-Incl__n" d="m485.31 557.56-7.6691-28.803" stroke="#CBBAED"/>
        <path id="Incl__n-Caseros" d="m492.92 555.49-7.287-28.611" stroke="#CBBAED"/>
        <path id="Incl__n-Humberto__primo" d="m477.78 528.9-4.8302-28.934-2.5566-9.4657" stroke="#CBBAED"/>
        <path id="Humberto__primo-Incl__n" d="m485.72 527.13-4.3536-27.882-2.7454-11.282" stroke="#CBBAED"/>
        <path id="Humberto__primo-Venezuela" d="m470.39 490.5-7.2624-29.748" stroke="#CBBAED"/>
        <path id="Venezuela-Humberto__primo" d="m478.75 488.28-7.2631-29.175" stroke="#CBBAED"/>
        <path id="Venezuela-Once" d="m463.13 460.88-5.1055-25.014-0.79703-11.221" stroke="#CBBAED"/>
        <path id="Once-Venezuela" d="m471.53 459.25-5.1073-23.581-0.70157-11.125" stroke="#CBBAED"/>
        </g>
        <path id="LineaA" d="m208.2 535.36 27.774-9.1302 15.073-5.8061 13.83-6.5562 29.158-14.477 27.163-12.989 23.928-13.123 23.303-12.254 33.4-18.696 5.9776-1.7253 20.287-1.4364 50.782-4.5862 19.915-1.9351 17.672-0.94595 11.452-1.3367 8.8302 1.6424 34.6-2.6406 11.339-0.70675" stroke="#333" stroke-width="4.1575"/>
        <g stroke-width="4.5354">
        <path id="Corrientes-C__rdoba" d="m462.8 396.81 3.126-13.514" stroke="#CBBAED"/>
        <path id="C__rdoba-Corrientes" d="m470.88 398.72 3.126-13.514" stroke="#CBBAED"/>
        <path id="C__rdoba-Santa__Fe" d="m465.93 383.57 9.0958-31.08" stroke="#CBBAED"/>
        <path id="Santa__Fe-C__rdoba" d="m473.76 385.43 9.0956-30.888" stroke="#CBBAED"/>
        <path id="Santa__Fe-Las__Heras" d="m475.02 352.62 6.1474-17.568 9.8374-9.4474" stroke="#CBBAED"/>
        <path id="Las__Heras-Santa__Fe" d="m482.69 354.75 5.0928-15.084 8.6879-7.4415" stroke="#CBBAED"/>
        <path id="Las__Heras-Facultad__de__Derecho" d="m490.74 325.88 12.448-8.9062 7.0348-4.4521 8.6622-8.6406" stroke="#CBBAED"/>
        <path id="Facultad__de__Derecho-Las__Heras" d="m496.17 332.34 12.448-8.9062 7.0348-4.4521 8.6622-8.6406" stroke="#CBBAED"/>
        </g>
    </g>
    <g fill="#333">
        <g>
        <circle cx="434.72" cy="588.65" r="3.9606"/>
        <circle cx="461.67" cy="571.28" r="3.9606"/>
        <circle cx="488.87" cy="556.2" r="3.9606"/>
        <circle cx="481.55" cy="528.08" r="3.9606"/>
        <circle cx="474.24" cy="489.27" r="3.9606"/>
        <circle cx="467.49" cy="459.91" r="3.9606"/>
        <circle cx="461.41" cy="424.54" r="3.9606"/>
        <circle cx="466.61" cy="397.78" r="3.9606"/>
        <circle cx="469.97" cy="384.88" r="3.9606"/>
        <circle cx="478.9" cy="354.02" r="3.9606"/>
        <circle cx="493.84" cy="329.76" r="3.9606"/>
        <circle cx="522.16" cy="307.14" r="3.9606"/>
        </g>
        <circle cx="402.18" cy="402.29" r="3.9606"/>
        <circle cx="438.97" cy="406.45" r="3.9606"/>
        <circle cx="463.73" cy="409.15" r="3.9606"/>
        <circle cx="488.58" cy="409.66" r="3.9606"/>
        <circle cx="516.11" cy="408.45" r="3.9606"/>
        <circle cx="538.19" cy="406.76" r="3.9606"/>
        <circle cx="583.21" cy="403.28" r="3.9606"/>
    </g>
    <g fill="none">
        <g stroke-width="4.5354">
        <path id="Juramento-Congreso__de__Tucum__n" d="m237.02 178.79 23.298 32.524" stroke="#CBBAED"/>
        <path id="Congreso__de__Tucum__n-Juramento" d="m243.78 174.14 23.298 32.524" stroke="#CBBAED"/>
        <path id="Jos____Hern__ndez-Juramento" d="m260.26 211.21 9.2254 12.72 9.9712 7.0499" stroke="#CBBAED"/>
        <path id="Juramento-Jos____Hern__ndez" d="m267.15 206.64 7.6051 11.231 9.0256 6.508" stroke="#CBBAED"/>
        <path id="Olleros-Jos____Hern__ndez" d="m279.31 230.92 30.909 18.591" stroke="#CBBAED"/>
        <path id="Jos____Hern__ndez-Olleros" d="m283.17 224.15 30.909 18.591" stroke="#CBBAED"/>
        <path id="Ministro__Carranza-Olleros" d="m309.97 249.35 38.615 24.811" stroke="#CBBAED"/>
        <path id="Olleros-Ministro__Carranza" d="m314.04 242.71 38.345 24.269" stroke="#CBBAED"/>
        <path id="Palermo-Ministro__Carranza" d="m348.34 274.01 32.402 13.932" stroke="#CBBAED"/>
        <path id="Ministro__Carranza-Palermo" d="m352.13 266.71 32.402 13.932" stroke="#CBBAED"/>
        <path id="Plaza__Italia-Palermo" d="m380.24 287.79 6.4098 3.5111 12.739 10.937" stroke="#CBBAED"/>
        <path id="Palermo-Plaza__Italia" d="m384.36 280.54 7.3552 4.1881 12.739 10.937" stroke="#CBBAED"/>
        <path id="Scalabrini__Ortiz-Plaza__Italia" d="m399.26 302.02 21.122 17.819" stroke="#CBBAED"/>
        <path id="Plaza__Italia-Scalabrini__Ortiz" d="m404.5 295.51 21.122 17.819" stroke="#CBBAED"/>
        <path id="Bulnes-Scalabrini__Ortiz" d="m420.23 319.78 15.776 13.295" stroke="#CBBAED"/>
        <path id="Scalabrini__Ortiz-Bulnes" d="m425.68 313.34 15.776 13.295" stroke="#CBBAED"/>
        <path id="Ag__ero-Bulnes" d="m435.79 332.86 8.2483 7.3611 10.794 10.849" stroke="#CBBAED"/>
        <path id="Bulnes-Ag__ero" d="m441.28 326.77 8.2483 7.3611 10.794 10.849" stroke="#CBBAED"/>
        <path id="Pueyrred__n__D-Ag__ero" d="m454.59 350.85 17.347 16.849" stroke="#CBBAED"/>
        <path id="Facultad__de__Medicina-Pueyrred__n__D" d="m471.51 366.94 5.0152 16.904 6.2846 4.8067 10.123 1.4204" stroke="#CBBAED"/>
        <path id="Pueyrred__n__D-Facultad__de__Medicina" d="m477.57 361.97 5.9177 16.711 2.7728 2.5043 7.0137 1.5517" stroke="#CBBAED"/>
        </g>
        <g stroke="#CBBAED" stroke-width="4.5354">
        <path id="Ag__ero-Pueyrred__n__D" d="m460.27 345 17.752 17.931"/>
        <path id="Callao__D-Facultad__de__Medicina" d="m492.78 390.16 24.035-0.63423"/>
        <path id="Facultad__de__Medicina-Callao__D" d="m492.71 382.71 24.035-0.63423"/>
        </g>
        <path id="Tribunales-Callao__D" d="m516.78 389.55 16.419-0.0538 10.498 10.524" stroke="#CBBAED" stroke-width="4.5354"/>
        <path id="Callao__D-Tribunales" d="m516.55 382.02 21.015 0.49266 11.308 11.472" stroke="#CBBAED" stroke-width="4.5354"/>
        <g stroke-width="2.2677">
        <path id="Avenida__de__Mayo-Diagonal__Norte" d="m556.99 431.01 0.27203-9.794 1.502-4.4835 2.8521-2.4315 6.5414-3.3399 0.47773-0.80268" stroke="#CBBAED"/>
        <path id="Diagonal__Norte-Avenida__de__Mayo" d="m564.68 430.25-0.34469-8.4478 1.4228-3.0094 5.8406-4.0057 1.8313-0.88839" stroke="#CBBAED"/>
        <path id="9__de__Julio-Tribunales" d="m543.43 399.7 18.098 12.784" stroke="#CBBAED"/>
        <path id="Tribunales-9__de__Julio" d="m548.56 393.64 17.479 12.958" stroke="#CBBAED"/>
        <path id="Catedral-9__de__Julio" d="m561.41 412.57 22.138 14.062" stroke="#CBBAED"/>
        <path id="9__de__Julio-Catedral" d="m565.99 406.62 22.053 13.443" stroke="#CBBAED"/>
        </g>
    </g>
    <g fill="#333">
        <circle cx="239.96" cy="176.22" r="3.9606"/>
        <circle cx="263.65" cy="209.34" r="3.9606"/>
        <circle cx="281.2" cy="227.88" r="3.9606"/>
        <circle cx="312" cy="246.3" r="3.9606"/>
        <circle cx="350.09" cy="270.55" r="3.9606"/>
        <circle cx="381.83" cy="284.51" r="3.9606"/>
        <circle cx="401.69" cy="299.27" r="3.9606"/>
        <circle cx="422.89" cy="317" r="3.9606"/>
        <circle cx="438.69" cy="330" r="3.9606"/>
        <circle cx="457.46" cy="347.87" r="3.9606"/>
        <circle cx="474.6" cy="365.46" r="3.9606"/>
        <circle cx="492.55" cy="386.3" r="3.9606"/>
        <circle cx="516.62" cy="386.2" r="3.9606"/>
        <circle cx="545.8" cy="396.91" r="3.9606"/>
        <circle cx="563.92" cy="408.94" r="2.6228"/>
        <circle cx="585.04" cy="422.83" r="2.6415"/>
    </g>
    <g fill="none" stroke-width="4.5354">
        <path id="San__Juan-Constituci__n" d="m563.08 521.49 0.86011-7.5525 3.1253-12.973 0.91499-6.6718" stroke="#CBBAED"/>
        <path id="Constituci__n-San__Juan" d="m555.31 521.16 0.86011-7.5525 3.1253-12.973 0.91499-6.6718" stroke="#CBBAED"/>
        <path id="Independencia__C-San__Juan" d="m567.88 494.61 0.20012-20.27" stroke="#CBBAED"/>
        <path id="Belgrano-Independencia__E" d="m555.32 476.41 4e-3 -7.0349 20.454-17.961" stroke="#CBBAED"/>
        <path id="San__Juan-Independencia__C" d="m560.17 494.54 0.20012-20.27" stroke="#CBBAED"/>
        <path id="Independencia__E-Belgrano" d="m547.28 476.43 0.73988-11.641 22.071-18.463" stroke="#CBBAED"/>
        <path id="Moreno-Independencia__C" d="m568.04 474.41-0.52556-12.111-1.874-14.809" stroke="#CBBAED"/>
        <path id="Independencia__C-Moreno" d="m560.44 474.63-0.52557-12.111-1.874-14.809" stroke="#CBBAED"/>
        <path id="Avenida__de__Mayo-Moreno" d="m565.64 447.74-0.96377-17.647" stroke="#CBBAED"/>
        <path id="Moreno-Avenida__de__Mayo" d="m557.94 448.3-0.96376-17.647" stroke="#CBBAED"/>
        <path id="General__San__Mart__n-Lavalle" d="m575.81 396.57-0.8783-22.665 2.9814-5.9441" stroke="#CBBAED"/>
        <path id="Lavalle-General__San__Mart__n" d="m567.56 396.81-0.30085-25.818 3.6518-6.9947" stroke="#CBBAED"/>
        <path id="Retiro__C-General__San__Mart__n" d="m577.58 368.54 7.7754-11.378" stroke="#CBBAED"/>
        <path id="General__San__Mart__n-Retiro__C" d="m570.88 364.23 7.7754-11.378" stroke="#CBBAED"/>
    </g>
    <g fill="#333">
        <circle cx="559.21" cy="520.9" r="3.9606"/>
        <circle cx="563.53" cy="494.72" r="3.9606"/>
        <circle cx="563.99" cy="475.04" r="3.9606"/>
        <circle cx="561.71" cy="448.07" r="3.9606"/>
        <circle cx="571.63" cy="411.61" r="2.8152"/>
        <circle cx="571.2" cy="396.3" r="3.9606"/>
        <circle cx="574.1" cy="366.68" r="3.9606"/>
        <circle cx="581.7" cy="355.24" r="3.9606"/>
        <circle cx="558.07" cy="405.07" r="3.0995"/>
    </g>
    <g fill="none" stroke-width="4.5354">
        <path id="Varela-Plaza__de__los__Virreyes" d="m245.05 596.21 2.2272-5.2316 2.9777-3.6157 9.7427-8.6307" stroke="#CBBAED"/>
        <path id="Plaza__de__los__Virreyes-Varela" d="m237.78 592.8 2.8451-6.9751 4.2193-4.7386 9.9925-8.258" stroke="#CBBAED"/>
        <path id="Medalla__Milagrosa-Varela" d="m259.97 578.67 8.4097-8.1493 3.9499-3.6314 5.5791-2.9395 5.3032-0.89633 7.3649 0.82305" stroke="#CBBAED"/>
        <path id="Varela-Medalla__Milagrosa" d="m254.67 572.95 6.5469-6.6516 7.428-6.1284 6.2001-3.4387 7.2932-1.2744 7.9867 0.69712" stroke="#CBBAED"/>
        <path id="Emilio__Mitre-Medalla__Milagrosa" d="m289.97 563.88 10.183-0.71338 6.1502-3.81 14.179-11.574 2.1389-7.1645" stroke="#CBBAED"/>
        <path id="Medalla__Milagrosa-Emilio__Mitre" d="m290 556.26 6.3262-0.45521 8.387-5.0598 8.9634-7.0823 2.0193-5.1733" stroke="#CBBAED"/>
        <path id="Jos____Mar__a__Moreno-Emilio__Mitre" d="m322.42 540.77 1.0319-3.6839 7.0547-6.891 5.5219-2.7012 16.742-2.722" stroke="#CBBAED"/>
        <path id="Emilio__Mitre-Jos____Mar__a__Moreno" d="m315.55 538.76 0.53083-5.0515 5.3144-6.1402 10.862-7.0692 18.856-3.2248" stroke="#CBBAED"/>
        <path id="La__Plata-Jos____Mar__a__Moreno" d="m352.83 524.74 29.877-5.1481" stroke="#CBBAED"/>
        <path id="Jos____Mar__a__Moreno-La__Plata" d="m351.18 517.25 29.877-5.1481" stroke="#CBBAED"/>
        <path id="Boedo-La__Plata" d="m382.63 519.53 35.065-5.933" stroke="#CBBAED"/>
        <path id="La__Plata-Boedo" d="m381.05 511.97 35.065-5.933" stroke="#CBBAED"/>
        <path id="General__Urquiza-Boedo" d="m417.53 513.62 33.515-5.6226" stroke="#CBBAED"/>
        <path id="Boedo-General__Urquiza" d="m416.15 506.01 33.515-5.6226" stroke="#CBBAED"/>
        <path id="Jujuy-General__Urquiza" d="m450.73 508 16.715-2.4046" stroke="#CBBAED"/>
        <path id="General__Urquiza-Jujuy" d="m449.31 500.36 16.715-2.4046" stroke="#CBBAED"/>
        <path id="Pichincha-Jujuy" d="m467.28 505.59 30.077-3.3914" stroke="#CBBAED"/>
        <path id="Jujuy-Pichincha" d="m466.01 497.93 30.077-3.3914" stroke="#CBBAED"/>
        <path id="Entre__R__os-Pichincha" d="m497.13 502.29 22.656-2.5842" stroke="#CBBAED"/>
        <path id="Pichincha-Entre__R__os" d="m495.97 494.48 22.905-2.4604" stroke="#CBBAED"/>
        <path id="San__Jos__-Entre__R__os" d="m519.73 499.62 11.97-0.7453 11.727-0.63753" stroke="#CBBAED"/>
        <path id="Entre__R__os-San__Jos__" d="m518.64 492.1 11.898-0.38693 11.788-1.0132" stroke="#CBBAED"/>
    </g>
    <g fill="#333">
        <circle cx="496.67" cy="498.58" r="3.9606"/>
        <circle cx="466.68" cy="502.17" r="3.9606"/>
        <circle cx="450.05" cy="504.24" r="3.9606"/>
        <circle cx="416.72" cy="510.04" r="3.9606"/>
        <circle cx="381.98" cy="516.11" r="3.9606"/>
        <circle cx="351.99" cy="521.54" r="3.9606"/>
        <circle cx="318.77" cy="539.57" r="3.9606"/>
        <circle cx="290.05" cy="560.23" r="3.9606"/>
        <circle cx="257.53" cy="576.06" r="3.9606"/>
        <circle cx="241.56" cy="593.96" r="3.9606"/>
    </g>
    <g fill="none" stroke-width="4.5354">
        <path id="Independencia__E-San__Jos__" d="m543.09 498.2 9.7488-1.2629 2.3348-3.0324 0.19079-17.804" stroke="#CBBAED"/>
        <path id="San__Jos__-Independencia__E" d="m542.33 490.83 2.5341-0.25002 2.4652-0.54403-0.0482-13.697" stroke="#CBBAED"/>
        <path id="Bol__var-Belgrano" d="m575.69 451.57 13.369-13.932" stroke="#CBBAED"/>
        <path id="Belgrano-Bol__var" d="m570.04 446.48 13.369-13.932" stroke="#CBBAED"/>
        <path id="Correo__Central-Bol__var" d="m588.73 438.04 6.3234-6.8013 7.707-3.2539 3.4748-3.8658 1.226-7.5934-1.8722-23.719" stroke="#CBBAED"/>
        <path id="Catalinas-Correo__Central" d="m605.54 392.89-0.98773-9.3025-4.7385-12.99" stroke="#CBBAED"/>
        <path id="Correo__Central-Catalinas" d="m597.68 394.02-0.98652-8.8048-4.361-11.249" stroke="#CBBAED"/>
        <path id="Retiro__E-Catalinas" d="m599.83 370.65-6.4776-12.85" stroke="#CBBAED"/>
        <path id="Catalinas-Retiro__E" d="m592.42 374.23-6.3544-13.348" stroke="#CBBAED"/>
    </g>
    <g fill="#333">
        <circle cx="595.85" cy="372.77" r="3.9606"/>
        <circle cx="601.75" cy="393.54" r="3.9606"/>
        <circle cx="586.3" cy="435.38" r="3.9606"/>
        <circle cx="572.77" cy="448.98" r="3.9606"/>
        <circle cx="551.43" cy="476.78" r="3.9606"/>
        <circle cx="543.01" cy="494.47" r="3.9606"/>
        <circle cx="519.1" cy="495.8" r="3.9606"/>
        <circle cx="602.05" cy="402.06" r="3.9606"/>
        <circle cx="589.51" cy="359.16" r="3.9606"/>
    </g>
    <g fill="none">
        <g stroke-width="4.5354">
        <path id="San__Jos____de__Flores-San__Pedrito" d="m209.02 539.07 28.348-9.4009" stroke="#CBBAED"/>
        <path id="San__Pedrito-San__Jos____de__Flores" d="m206.28 531.58 28.348-9.4009" stroke="#CBBAED"/>
        <path id="Carabobo-San__Jos____de__Flores" d="m237.12 529.67 15.292-5.3875 13.919-7.1263" stroke="#CBBAED"/>
        <path id="San__Jos____de__Flores-Carabobo" d="m234.28 522.18 14.148-5.3848 14.36-6.5994" stroke="#CBBAED"/>
        <path id="Pu__n-Carabobo" d="m266.45 517.1 29.208-14.007" stroke="#CBBAED"/>
        <path id="Carabobo-Pu__n" d="m262.81 510.25 29.208-14.007" stroke="#CBBAED"/>
        <path id="Primera__Junta-Pu__n" d="m295.6 503.15 27.094-13.442" stroke="#CBBAED"/>
        <path id="Pu__n-Primera__Junta" d="m291.91 496.26 27.094-13.442" stroke="#CBBAED"/>
        <path id="Acoyte-Primera__Junta" d="m322.75 489.65 23.984-12.874" stroke="#CBBAED"/>
        <path id="Primera__Junta-Acoyte" d="m319.12 482.89 23.984-12.874" stroke="#CBBAED"/>
        <path id="R__o__de__Janeiro-Acoyte" d="m346.74 476.77 23.425-12.624" stroke="#CBBAED"/>
        <path id="Acoyte-R__o__de__Janeiro" d="m342.95 470.13 23.425-12.624" stroke="#CBBAED"/>
        <path id="Castro__Barros-R__o__de__Janeiro" d="m370.16 464.15 33.367-18.061" stroke="#CBBAED"/>
        <path id="R__o__de__Janeiro-Castro__Barros" d="m366.1 457.21 34.684-19.032" stroke="#CBBAED"/>
        <path id="Loria-Castro__Barros" d="m402.85 446.34 5.9065-1.6941 20.154-1.8529" stroke="#CBBAED"/>
        <path id="Castro__Barros-Loria" d="m400.2 438.57 6.6979-1.872 21.121-2.0312" stroke="#CBBAED"/>
        <path id="Plaza__Miserere-Loria" d="m428.72 442.79 50.136-4.3518" stroke="#CBBAED"/>
        <path id="Loria-Plaza__Miserere" d="m428.07 434.7 50.136-4.3518" stroke="#CBBAED"/>
        <path id="Pasco-Alberti-Plaza__Miserere" d="m478.86 438.57 20.776-1.73" stroke="#CBBAED"/>
        <path id="Plaza__Miserere-Pasco-Alberti" d="m478.28 430.31 20.776-1.73" stroke="#CBBAED"/>
        <path id="Congreso-Pasco-Alberti" d="m499.45 436.84 16.92-1.3474" stroke="#CBBAED"/>
        <path id="Pasco-Alberti-Congreso" d="m499.04 428.58 16.92-1.3474" stroke="#CBBAED"/>
        <path id="S__enz__Pe__a-Congreso" d="m516.4 435.58 11.975-1.1564 2.4847 0.72108 6.3216 0.77664" stroke="#CBBAED"/>
        <path id="Congreso-S__enz__Pe__a" d="m515.73 427.41 11.975-1.1564 2.4847 0.72108 6.7618 0.86356" stroke="#CBBAED"/>
        <path id="Lima-S__enz__Pe__a" d="m536.67 435.88 12.607-0.85746" stroke="#CBBAED"/>
        <path id="S__enz__Pe__a-Lima" d="m536.39 427.89 12.607-0.85746" stroke="#CBBAED"/>
        <path id="Piedras-Lima" d="m549.25 435.04 20.381-1.4283" stroke="#CBBAED"/>
        </g>
        <path id="Lima-Piedras" d="m548.45 427.09 20.757-1.6137" stroke="#CBBAED" stroke-width="2.2677"/>
        <path id="Plaza__de__Mayo-Per__" d="m575.44 433.17 7.8409-0.60778" stroke="#CBBAED" stroke-width="4.5354"/>
        <path id="Per__-Plaza__de__Mayo" d="m574.73 425.19 7.8409-0.60778" stroke="#CBBAED" stroke-width="4.5354"/>
    </g>
    <g fill="#333">
        <circle cx="560.54" cy="430.57" r="3.9606"/>
        <g>
        <circle cx="536.52" cy="432.02" r="3.9606"/>
        <circle cx="515.74" cy="431.82" r="3.9606"/>
        <circle cx="498.82" cy="432.98" r="3.9606"/>
        <circle cx="478.29" cy="434.65" r="3.9606"/>
        <circle cx="428.03" cy="439.12" r="3.9606"/>
        <circle cx="401.66" cy="442.42" r="3.9606"/>
        <circle cx="368.23" cy="460.92" r="3.9606"/>
        <circle cx="344.74" cy="473.43" r="3.9606"/>
        <circle cx="320.84" cy="486.34" r="3.9606"/>
        <circle cx="293.86" cy="499.6" r="3.9606"/>
        <circle cx="264.68" cy="513.75" r="3.9606"/>
        <circle cx="235.68" cy="526.05" r="3.9606"/>
        <circle cx="207.72" cy="535.18" r="3.9606"/>
        </g>
    </g>
    <path id="Piedras-Per__" d="m569.15 425.5 5.5649-0.40589" fill="none" stroke="#CBBAED" stroke-width="4.5354"/>
    <path id="Per__-Piedras" d="m569.6 433.62 5.9402-0.46626" fill="none" stroke="#CBBAED" stroke-width="4.5354"/>
    <g fill="#333">
        <circle cx="575.54" cy="429.1" r="2.7163"/>
        <circle cx="569.5" cy="429.56" r="2.7163"/>
        <circle cx="548.99" cy="431.19" r="2.7163"/>
        <circle cx="583.38" cy="428.89" r="2.4674"/>
    </g>
    <g>
        <text x="130.05104" y="254.82529" fill="#ffffff" font-family="arial" font-size="10.667px" style="line-height:1.25" xml:space="preserve"><tspan x="130.05104" y="254.82529">B</tspan></text>
        <circle cx="229.23" cy="165.15" r="6.3816" fill="#4a0"/>
        <text x="225.73029" y="169.02319" fill="#ffffff" font-family="arial" font-size="10.667px" style="line-height:1.25" xml:space="preserve"><tspan x="225.73029" y="169.02319">D</tspan></text>
        <circle cx="533.63" cy="301.85" r="6.3816" fill="#ffd42a"/>
        <text x="529.82489" y="305.70218" fill="#ffffff" font-family="arial" font-size="10.667px" style="line-height:1.25" xml:space="preserve"><tspan x="529.82489" y="305.70218">H</tspan></text>
        <circle cx="194.38" cy="543.75" r="6.3816" fill="#00aedc"/>
        <text x="190.7955" y="547.18359" fill="#ffffff" font-family="arial" font-size="10.667px" style="line-height:1.25" xml:space="preserve"><tspan x="190.7955" y="547.18359">A</tspan></text>
        <circle cx="234.33" cy="603.69" r="6.3816" fill="#660080"/>
        <text x="230.83685" y="607.47919" fill="#ffffff" font-family="arial" font-size="10.667px" style="line-height:1.25" xml:space="preserve"><tspan x="230.83685" y="607.47919">E</tspan></text>
        <circle cx="555.51" cy="532.79" r="6.3816" fill="#04a"/>
        <text x="551.48578" y="536.66785" fill="#ffffff" font-family="arial" font-size="10.667px" style="line-height:1.25" xml:space="preserve"><tspan x="551.48578" y="536.66785">C</tspan></text>
        <text x="568.22675" y="547.08374" fill="#000000" font-family="sans-serif" font-size="40px" style="line-height:1.25" xml:space="preserve"><tspan/></text>
    </g>
    </g>
    </g>
    <style type="text/css">.st0{fill:#00aedc;}
        .st1{fill:#FFFFFF;}</style>
    <style type="text/css">.st0{fill:#ee1b2c;}
        .st1{fill:#FFFFFF;}</style>
    <style type="text/css">.st0{fill:#0168b3;}
        .st1{fill:#FFFFFF;}</style>
    <style type="text/css">.st0{fill:#008066;}
        .st1{fill:#FFFFFF;}</style>
    <style type="text/css">.st0{fill:#6b1f7e;}
        .st1{fill:#FFFFFF;}</style>
    <style type="text/css">.st0{fill:#fed105;}
        .st1{fill:#57585a;}</style>
    <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#818181;}
        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
        .st2{fill:none;stroke:#818181;stroke-width:14;stroke-miterlimit:10;}
        .st3{fill:none;stroke:#000000;stroke-width:20;stroke-miterlimit:10;}
        .st4{fill:none;stroke:url(#SVGID_1_);stroke-width:14;stroke-miterlimit:10;}
        .st5{fill:none;stroke:url(#SVGID_2_);stroke-width:14;stroke-miterlimit:10;}
        .st6{fill:none;stroke:#E90012;stroke-width:14;stroke-miterlimit:10;}
        .st7{fill:none;stroke:#943C93;stroke-width:14;stroke-miterlimit:10;}
        .st8{fill-rule:evenodd;clip-rule:evenodd;}
        .st9{display:none;}
        .st10{display:inline;}
        .st11{fill:none;}
        .st12{fill-rule:evenodd;clip-rule:evenodd;fill:#EE1C25;}
        .st13{fill:#FFFFFF;}
        .st14{fill:#F0585C;}
        .st15{fill:#FFFEFE;}
        .st16{fill:#E90012;}
        .st17{fill-rule:evenodd;clip-rule:evenodd;fill:#F7941D;}
        .st18{fill:#F8A457;}
        .st19{fill:#FFAD00;}
        .st20{fill-rule:evenodd;clip-rule:evenodd;fill:#591F0B;}
        .st21{fill:#835E59;}
        .st22{fill:#774A43;}
        .st23{fill:#AA9693;}
        .st24{fill:#BEB0AE;}
        .st25{fill:#987C78;}
        .st26{fill:#672612;}
        .st27{fill-rule:evenodd;clip-rule:evenodd;fill:#0C9444;}
        .st28{fill:#66AC7A;}
        .st29{fill:#C5DCCB;}
        .st30{fill:#8FBF9B;}
        .st31{fill:#00A965;}
        .st32{fill-rule:evenodd;clip-rule:evenodd;fill:#A35DB5;}
        .st33{fill:#AC72BC;}
        .st34{fill:#943C93;}</style>
    </svg></div>
    <div class="options">
          <input type="radio" id="ocupacion_button" name="datosVisualizados" value="ocupacion_pas_x_m2" checked="checked">
          <label for="html">Ocupación (pasajeros parados por m2)</label><br>
          <input type="radio" id="flujo_button" name="datosVisualizados" value="pasajeros_hora">
          <label for="css">Flujo en pasajeros por hora</label><br>
    </div>
    <div class="six-columns">
                <label for="linea" id="detalle-hora">Hora: <span class="hora-val">05:00</span>&nbsp;</label>
                <input id="hora" type="range" min="5" max="23" value="5" step='0.1666666666666666666666666666666666666666666666666666666666'>
    </div>
    <div class="etiqueta" id="label1"></div>
</div>
{{!-- <div class="footer">
    <h5>Datos del 02-12-2021. Ocupación en pasajeros parados por m2. Flujo en pasajeros totales por hora </h5>
</div> --}}

</body>
{{!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> --}}
<script src="./assets/js/jquery-3.6.0.min.js"></script>
{{!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> --}}
{{!-- <script src="./subtedata_files/underscore-min.js.descarga"></script>
<script src="./subtedata_files/underscore-min.map"></script>
<script src="./subtedata_files/moment.min.js.descarga"></script>
<script src="./subtedata_files/d3.v3.min.js.descarga"></script>
<script src="./subtedata_files/colorbrewer.min.js.descarga"></script --}}
<script type="module" src="./assets/js/vizflow.js"></script>
{{!-- </html> --}}


