  
  body {
    background-color: #332d38;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    padding:0px;
  }
  

  .wrapper {
/*     border: 10px solid rgb(60,35,115); */
    background-color:rgb(60,35,115);
    border-radius: 20px;
    width: 100%;
    height:150.556mm;
    margin: 0px;
    padding: 0px;
    /* width: 232.29mm; */
/*     margin:auto; */
  }
  #mapa{
    position: relative;
    left: 25%;
    top: 55%;
/*     width: 132.29mm; 
    height: 127.59mm; */
    width: 156.10mm; 
    height: 150.556mm;
  }
  .header {
    background-color: #332d38;
/*     margin: auto; */
/*     width: 60%; */
    margin: 0px;
    padding: 0px;
    text-align: center;
    }
   
   h1 {
    margin: 0px;
    padding: 0px;
   }  
   h5 {
    margin: 0px;
    padding: 0px;
   }  
  
  .footer {
    background-color: #2c2a2e;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    line-height : 50px;
    padding: 0px;
    text-align: center;
    }

  .options {
      position:fixed;
      bottom:280px;
      transform: translate(4%, 0%);
      /* text-align: center;  */
  }

  .six-columns {
      position:fixed;
      bottom:240px;
      transform: translate(10%, 0%);
      text-align: center; 
  }

  .etiqueta{
    position:fixed;
    bottom:176px;
    transform: translate(40%, 0%);
    text-align: center; 
    white-space: pre-wrap;
    font-size: 16px;
  }
  

  #detalle-hora{
    vertical-align:middle;
    display:inline-block;
    margin-bottom:0.7em;
  }
  #hora {
    display:inline-block
  }



  input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    background: inherit;
    margin: 10px 0;
    width: 200px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #741367;
    border-radius: 20px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 25px;
    width: 9px;
    border-radius: 6px;
    background: #cf0bc9;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #741367;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 20px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 38px;
    width: 12px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 40px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 40px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 38px;
    width: 12px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #B6B6B6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #B6B6B6;
  }
